<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="NLog" version="5.0.0-beta05" targetFramework="net462" />
  <package id="Telerik.DataAccess.Core" version="2016.2.822.1" targetFramework="net462" />
  <package id="Telerik.DataAccess.Fluent" version="2016.2.822.1" targetFramework="net462" developmentDependency="true" />
</packages>