<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="default" 
            fileName="${specialfolder:folder=CommonApplicationData}/VRArcade/Client/DaemonLog.txt"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/VRArcade/Client/DaemonLog.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="default" />
  </rules>
</nlog>