<?xml version="1.0"?>
<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="Microsoft.PointOfService.ControlBase" publicKeyToken="31bf3856ad364e35"/>
         <!-- Redirecting to version 1.1.0.0 of the assembly. -->
         <bindingRedirect oldVersion="1.1.0.0" newVersion="1.12.0.0"/>
       </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
