* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
  }

html, body {
  height: 100%;
}

body {
  font-size: 100%/1.5;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -moz-font-feature-settings: "onum=1, kern=1, liga=1";
  -ms-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  -webkit-font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  font-feature-settings: "onum" 1, "kern" 1, "liga" 1;
  text-rendering: optimizeLegibility;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, menu, dir, h1, h2, h3, h4, h5, h6, p, blockquote, b, strong, hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  margin: 0;
  border-style: none;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  border-style: none;
  background-color: #f0f0f0;
}

a { text-decoration: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

.fadein, :focus {
  @include transition(all, 0.3s, ease-in-out);
}

.noanim {
  @include transition(none, none, none);
}

.icon { font-family: "Entypo"; }
.icon-s { font-family: "Entypo-S"; }