$fontpath: "../fonts/";

@font-face {
	font-family: "Entypo";
		src: url('#{$fontpath}entypo.eot');
		src: url('#{$fontpath}entypo.eot?#iefix') format('embedded-opentype'),
				 url('#{$fontpath}entypo.woff') format('woff'),
				 url('#{$fontpath}entypo.ttf') format('truetype'),
				 url('#{$fontpath}entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Entypo-S";
		src: url('#{$fontpath}entypo-social.eot');
		src: url('#{$fontpath}entypo-social.eot?#iefix') format('embedded-opentype'),
				 url('#{$fontpath}entypo-social.woff') format('woff'),
				 url('#{$fontpath}entypo-social.ttf') format('truetype'),
				 url('#{$fontpath}entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: "Entypo";
	font-style: normal;
	font-weight: normal;

	&.social {
		font-family: "Entypo-S";
	}
}